{% extends '::base.html.twig' %}

{% block container %}


    {{ form_start(form, {'attr': {'id': 'form_users_insert'}}) }}
    {{ form_errors(form)}}
    <ul>
        
        
        <li>
            {{ form_label(form.user) }}
            {{ form_errors(form.user) }}
            {{ form_widget(form.user) }}
        </li>
        
        <li>
            {{ form_label(form.password) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </li>
        
        
        
        <li>
            {{ form_widget(form.save) }}
        </li>
    </ul>
  {{ form_end(form)}}
  
   

{% endblock %}
