{% extends '::base.html.twig' %}

{% block container %}


    {{ form_start(formMeasure, {'attr': {'id': 'form_measure_insert'}}) }}
    {{ form_errors(formMeasure)}}
    <ul>
        
        
        <li>
            {{ form_label(formMeasure.MeasureName) }}
            {{ form_errors(formMeasure.MeasureName) }}
            {{ form_widget(formMeasure.MeasureName) }}
        </li>
        
        <li>
            {{ form_label(formMeasure.MeasureCode) }}
            {{ form_errors(formMeasure.MeasureCode) }}
            {{ form_widget(formMeasure.MeasureCode) }}
        </li>
        
        <li>
            {{ form_label(formMeasure.MeasurePicture) }}
            {{ form_errors(formMeasure.MeasurePicture) }}
            {{ form_widget(formMeasure.MeasurePicture) }}
        </li>
        
        <li>
            {{ form_widget(formMeasure.save) }}
        </li>
    </ul>
  {{ form_end(formMeasure)}}
  
   

{% endblock %}
